---
layout: page
---
<h3>Rohtas in the middle of one of the biggest real estate fraud</h3>
Rohtas Properties Lucknow has sold vast amount of land which it wasn't
able to procure later on. When property owners asked for the refund of money,
they issued fake cheques which bounced. We've been burnt by this and so
are many others. If you have been scammed by them, please email your
details, copy of your agreement to <b><a href="mailto:rohtasfraud@gmail.com">rohtasfraud@gmail.com</a></b>
<br /> <br />
We are building a comprehensive database of all the people whom they
have duped so that we can take collective legal action against them.
<br /><br />
We already have collected a dozen cases, we need more. We will update
this site with all the cases shortly.
<br /><br />

<hr />

रोहतास प्रॉपर्टीज़, लखनऊ एक व्यापक भूमि घोटाले में शामिल हैं. रोहतास ने कुछ इलाको
में वह ज़मीने निवेशकों को बेचीं जो वह आगे जाके acquire  न कर सके. जब निवेशकों
ने अपना निवेश वापस माँगा तो रोहतास ने चेक दिए जो बाउंस हो गए.

अगर आप भी रोहतास के घोटाले से प्रभावित है तो नीचे दिए हुए ईमेल पे अपना केस
विस्तार से भेजें| पर्याप्त केस हो जाने के बाद हम उपयुक्त कानूनी कार्यवाही करेंगे |

संपर्क करें:
<b><a href="mailto:rohtasfraud@gmail.com">rohtasfraud@gmail.com</a></b>
<br /> <br />

<!-- COMMENT all individual pages index
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.description }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endfor %}


{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
-->
