---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="site-heading" style="padding: 45px 0 20px 0; ">
					{% if page.url == '/' %}
					{% if site.logo %}
					<img src= "{{ site.logo }}" style="height: 150px">
					{% endif %}	
					{% else %}{% endif %}	
                    <h1 style="background: rgba(54, 25, 25, 0.2); ">
                        {% if page.title %}{{ page.title }}{% else
                        %}{{ site.title }}{% endif %}
                        </h1>
                    <hr class="small">
                    <div style="margin-top: 50px;"><span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
